* {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: red;
  }
  
  #navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  #navbar > ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  
  #welcome-section {
    height: 100vh;
    text-align: center;
    background-color: grey;
     margin-top: 5em;
  }
  
  #welcome-section > h1 {
    padding-top: 5em;
  }
  
  #welcome-section > #note {
    padding: 0em;
  }
  
  @media (max-width: 800px) {
    #welcome-section {
    height: 100vh;
  }
  }